@media screen and (max-width: 767px) {
  .header-titulo {
    font-size: 2rem;
  }
  .header .redes {
    margin: 0px auto;
    max-width: 22rem !important;
    width: 100%;
  }
  .header .envoltorio_dm {
    justify-content: space-between !important;
    position: static !important;
  }
  .header-linea {
    border-color: black;
    visibility: visible !important;
  }

  .redes {
    margin: 0px auto auto auto;
    width: 100% !important;
    max-width: 22rem !important;
  }

  .title-overview {
    margin-left: 1rem;
  }

  .tarjeta-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }

  .tarjeta {
    width: 100% !important;
    max-width: 22rem !important;
    padding: 20px 20px;
    justify-content: flex-end;
    margin: 0px auto !important;
    margin-bottom: 20px !important;
  }
}
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.header {
  width: 100%;
  margin: 0px auto;
  background-color: #f5f7ff;
  border-radius: 0px 0px 20px 20px !important;
  padding: 40px 15px;
  padding-bottom: 60px;
  position: relative;
}
.header-titulo {
  font-weight: 700;
}
.header-subtitulos {
  color: gray;
  font-weight: 700;
}
.header-linea {
  border-color: black;
  visibility: hidden;
}
.header .envoltorio_dm {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 25%;
  right: 13%;
}
.header-interruptor-mode {
  background-color: #63687e;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.header .ball {
  background-color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 3px 3px;
}

.envoltorio_redes {
  margin-top: -50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.redes {
  background-color: #f0f2fa;
  border: none;
  border-radius: 9px;
  width: 100%;
  max-width: 16rem;
  margin-bottom: 20px;
  overflow: hidden;
}
.redes:hover {
  background-color: #d5d9e7;
}
.redes:Before {
  content: "";
  height: 5px;
}

.letras_oscuras {
  font-weight: 700;
  font-size: 70px;
  margin: 0px;
  margin: 0px;
  padding: 0px;
}

.letras_claras {
  font-weight: 500;
  color: gray;
  margin-bottom: 20px;
  letter-spacing: 5px;
  margin-top: -20px;
}

.icono {
  vertical-align: middle;
}

.today {
  color: #1db489;
  font-weight: 700;
}

.facebook:Before {
  background-color: deepskyblue;
}

.twitter:Before {
  background-color: #1ca0f2;
}

.instagram:Before {
  background: #fcb468;
  background: linear-gradient(45deg, #fcb468 28%, #df4996 61%);
}

.youtube:Before {
  background-color: #c4032a;
}

.title-overview {
  font-weight: 500;
  color: gray;
  margin-bottom: 20px;
  font-size: 26px;
}

.tarjeta-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.tarjeta-container .tarjeta {
  background-color: #f0f2fa;
  border: none;
  width: 90%;
  max-width: 15rem;
  padding: 20px 20px;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.tarjeta-container .tarjeta:hover {
  background-color: #d5d9e7;
}

.porcentaje {
  color: #1db489;
  font-weight: 600;
}

.porcentaje_2 {
  color: #c4032a;
  font-weight: 600;
}

.size {
  width: 20px;
  height: 20px;
}

.medio_oscuras {
  font-size: 40px;
  font-weight: 700;
}

.letras_pequennas {
  font-weight: 500;
  color: gray;
  margin-bottom: 20px;
}

.drog {
  margin-left: auto !important;
}

.background {
  background: #378fe6;
  background: linear-gradient(45deg, #378fe6 28%, #3eda82 61%);
}

.darkmode {
  background-color: #1e202a;
}

.headerDark {
  background-color: #1f212e;
}
.headerDark h1 {
  color: white;
}

.redesDark {
  background-color: #252a41 !important;
  border: none;
  border-radius: 9px;
  width: 100%;
  max-width: 16rem;
  margin-bottom: 20px;
  color: white !important;
}
.redesDark:hover {
  background-color: #353d5e !important;
}

.tarjetasDark {
  background-color: #252a41 !important;
  border: none;
  width: 90%;
  max-width: 15rem;
  padding: 20px 20px;
  justify-content: flex-end;
  margin-bottom: 20px;
  color: white;
}
.tarjetasDark:hover {
  background-color: #353d5e !important;
}

.letter_white {
  color: white;
}